
<div class="inner cover">
  <h1 class="cover-heading">Beastly web dev yo!</h1>
  <p class="lead">I know you're choosing me for my rugged good looks and superior intellect, but I will still produce a superior product, even though I don't have to. That's just the kind of guy I am.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
